/* changed background to match jumbotron */
body {
    background-color: #e9ecef;
    width: 100%
}


.card {
    width: 66% !important;
    margin-bottom: 15px;
    margin: 0 auto;
}

/* added padding so the cards werent right up against the edge */
.card-deck {
    padding: 10px;
}

/* pushed the navbar to the right of the page */
.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

/* Changed the pictures size and put it underneath the header  */
.edward {
    height: 300px;
    width: 225px;
    display: block;
    margin: 0 auto;

}

/* centered the titles */
h2 {
    display: flex;
    flex: auto;
    justify-content: center;
    align-content: center;
}

/* spaced the contact buttons */
#contact-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;

}

/* lightblue hover effect on contact buttons */
.fa-solid:hover {
    background-color: lightblue;
}

.fa-brands:hover {
    background-color: lightblue;
}

/* made nav all the same colour */
.nav-link {
    color: black !important;
}